doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/styles/css/index.css')

    block styles

    script(src='/jquery/jquery.min.js')
  body
    header
      h1 
        a(href='/users') P E O P L E
      nav
        a(href='/') Main
        if (!isAuth)
            a(href='/registration') Registration
            a(href='/login') Log In
        else 
            a(href='/logout') Log Out
            a(href='/profile') Profile

    section#content

      block content

    footer

    script(src='/js/main.js')

    block scripts
