extends layout

block styles
  link(rel='stylesheet' href='/styles/profile.css')

block scripts
  script(src='/js/profile.js')

block content
  #profile-page
    h1= title

    h3 Hello, !{user.login}

    .avatar
      img(src=(user.avatar || '/img/svg/avatar.svg'))
      input.hide(type='file' name='avatar')

